<h1>Burgers!</h1>
<div>
	<ul class="uneaten">
		<h3>Uneaten Burgers</h3>
		{{#each burgers}}
			{{#unless devoured}}
				{{> burgers/burger-block devour=true}}
			{{/unless}}
		{{/each}}
	</ul>
	<ul class="eaten">
		<h3>Eaten Burgers</h3>
		{{#each burgers}}
			{{#if devoured}}
				{{> burgers/burger-block devour=false}}
			{{/if}}
		{{/each}}
	</ul>
</div>

{{!-- Add Burger --}}
<h2>Add a Burger</h2>
<form class="create-form">
	<div class ="form-group">
		<label for="ba">Burger Name: </label>
		<input type="text" id="ba" name="name" class="newBurger">
	</div>

	<button type="submit" id="addBurger">Add Burger</button>
</form>